.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  pointer-events: auto;
  z-index: 999;
}
.container {
  background-color: #ffffff;
  width: 250px;
  height: 270px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  pointer-events: auto;
}
.header {
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: end;
}
.body {
  height: 230px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.closeBtn {
  height: 30px;
  width: 30px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  margin: 5px 5px 0 0;
  cursor: pointer;
}
.closeBtn:hover {
  transform: scale(1.1);
}
